<div class="hero">
    <div class="ui center aligned text container">
        <h1 class="ui header inverted ">
            Noire Server {{version}}
        </h1>
        <h2 class="ui header inverted">Lorem Ipsum</h2>
        <div class="ui huge primary button">Do Something<i class="right arrow icon"></i></div>
    </div>
</div>
