<div class="ui main vertical segment">
    <div class="ui two column stackable grid container">
        <div class="row">
            <div class="ten wide column">
                <h1 class="ui header">Section 1</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </p>
                <h1 class="ui header">Section 2</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="six wide column">
                <img src="/img/white-image.png" class="ui large bordered rounded image" alt="avatar">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Check This Out</a>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical segment">
    <div class="ui equal width internally celled grid">
        <div class="center aligned column">
            <h3>"Quote 1"</h3>
            <p>
                <img src="/img/avatar.png" class="ui avatar image" alt="quote2">
                <b>Name</b> Title
            </p>
        </div>

        <div class="center aligned column">
            <h3>"Quote 2"</h3>
            <p>
                <img src="/img/avatar.png" class="ui avatar image" alt="quote1">
                <b>Name</b> Title
            </p>
        </div>
    </div>
</div>

<div class="ui main vertical stripe segment">
    <div class="ui text container">
        <h2 class="ui header">Title 1</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
        </p>
        <a class="ui large button">Read More</a>

        <h4 class="ui horizontal header divider">
            <a href="#">Another Section</a>
        </h4>

        <h2 class="ui header">Title 2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.
        </p>
        <a class="ui large button">Read More</a>
    </div>
</div>
