<div class="password-reset">
    <div class="ui centered grid container">
        <div class="six wide computer eight wide tablet sixteen wide phone column">
            <div class="ui segment">
                <div class="content">
                    <div class="ui centered large header">Password Reset</div>
                    <p>Enter your email address and we will send you a link to reset your password</p>
                    <form class="ui large form" novalidate>
                        <div class="required field">
                            <div class="ui left icon input">
                                <input id="form-password-reset" name="email" type="text" placeholder="email">
                                <i class="envelope icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" value="Send Email" class="ui submit button large fluid primary" disabled>
                        </div>
                        <div class="login">
                            <a href="/login">Login</a>
                        </div>
                        <div class="ui icon error message">
                            <i class="attention circle icon"></i>
                            <div class="content"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
