<div class="ui main stackable grid">

    <div class="ui two column row">
        <div class="ui column">
            <div class="ui large breadcrumb basic left aligned segment">
                <h3>
                    <i class="users icon"></i>
                    <a href="/admin" class="section">Admin</a>
                    <div class="divider"> / </div>
                    <div class="ui section active">Users</div>
                </h3>
            </div>
        </div>
        <div class="ui computer tablet only column">
            <div class="ui basic right aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
        <div class="ui mobile only column">
            <div class="ui basic left aligned segment">
                <div class="ui positive button">
                    <i class="add user icon"></i> Add User
                </div>
            </div>
        </div>
    </div>

    <div class="ui three column row">
        <div class="ui column">
            <div class="ui basic segment">
                <div class="ui loading search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search users...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    <option value="">Order</option>
                    <option value="user">User</option>
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                </select>
            </div>
        </div>
        <div class="ui column">
            <div class="ui basic right aligned segment">
                <select class="ui fluid dropdown">
                    <option value="">Limit</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>

    <div class="ui one column row">
        <div class="ui column">
            <div class="ui basic segment">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            {{#if this.active}}
                                <tr>
                            {{else}}
                                <tr class="disabled">
                            {{/if}}
                            <td>{{this.username}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
