<nav class="top-bar nav-desktop hide-for-small-only">
    <div class="wrap">
        <div class="top-bar-left">
            <h3 class="site-logo">Hapi Starter</h3>
        </div>
        <div class="top-bar-right">
            <ul class="menu menu-desktop">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li><a href="#">Four</a></li>
                <li><a class="button" onclick="window.location.href='/login'">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
