<nav class="top-bar nav-desktop hide-for-small-only">
    <div class="wrap">
        <div class="top-bar-left">
            <h3 class="site-logo">Hapi Starter</h3>
        </div>
        <div class="top-bar-right">
            <ul class="menu menu-desktop">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li><a href="#">Four</a></li>
                {{#if user}}
                    {{#if user.admin}}
                        <li><a href="/admin">Admin</a></li>
                    {{/if}}
                    <li><a href="/account">Account</a></li>
                    <li><a id="desktop-logout" class="button">Logout</a></li>
                {{else}}
                    <li><a id="desktop-login" class="button" onclick="window.location.href='/login'">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
