<footer>
    <div class="wrap row small-up-1 medium-up-3">
        <div class="column">
            <h4>Footer 1</h4>
            <hr>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        <div class="column">
            <h4>Footer 2</h4>
            <hr>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        <div class="column">
            <h4>Footer 3</h4>
            <hr>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</footer>
