<h3 class="header item">Noire</h3>
<a class="item" href="#">One</a>
<a class="item" href="#">Two</a>
<a class="item" href="#">Three</a>
<a class="item" href="#">Four</a>
{{#if user}}
    {{#if user.admin}}
        <a class="item" href="/admin">Admin</a>
    {{/if}}
    <a class="item logout" href="/logout">Logout</a>
{{else}}
    <a class="item" href="/login">Login</a>
{{/if}}
