<div class="ui vertical segment inverted">
    <div class="ui grid">

        <div class="ui mobile only one column row">
            <div class="column">
                <div class="ui two column grid ">
                    <div class="column">
                        <a class="item sidebar toggle"><i class="sidebar large icon"></i></a>
                    </div>
                    <div class="column">
                        <a href="/account">
                            <img id="account" class="ui mini circular right floated image" src="/img/avatar.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui computer tablet only one column row">
            <div class="ui container">
                <nav class="ui large secondary inverted menu">
                    <h3 class="header item">Noire</h3>
                    <a class="item" href="#">One</a>
                    <a class="item" href="#">Two</a>
                    <a class="item" href="#">Three</a>
                    <a class="item" href="#">Four</a>
                    <div class="right item">
                        {{#if user}}
                            {{#if user.admin}}
                                <a class="ui button secondary inverted" href="/admin">Admin</a>
                            {{/if}}
                            <a class="ui button secondary inverted" href="/logout">Logout</a>
                            <a href="/account">
                                <img class="ui mini circular image" src="/img/avatar.png">
                            </a>
                        {{else}}
                            <a class="ui button secondary inverted" href="/login">Login</a>
                        {{/if}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
