{
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {},
    "rules": {
        "strict": [2, "global"],
        "linebreak-style": ["error", "unix"],
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "eqeqeq": [2, "smart"],
        "brace-style": [2, "1tbs"],
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-before-blocks": [1, "always"],
        "require-atomic-updates": "off",
        "no-return-await": 1,
        "no-console": "off",
        "key-spacing": [
            2,
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "minimum"
            }
        ]
    },
    "plugins": []
}
