# semantic source files frontend build
client/semantic
client/dist

# database files
db/dev.sqlite3

# server generated logs
log

# test coverage reports
.coverage

# ignore node stuff
node_modules
npm-debug.log

# osx
.DS_STORE

# IDEs
.vscode
