# This is a sample environment file, sould be renamed to .env
# It contains secrets and should NOT be under source control

# Secret utilized by the server to sign Jason Web Tokens
# Randomly generated using: npm run secret
JWT_SECRET='3lsmyHXcsCqKEjU9T2bUoslo++MLSNqDQtTkTQ3sqzEamy+c2nEBOYNjmj+wvVBox+n1uraD1z8ZNDY1u/ehWThlDUClbzRAbI41ybS8fsk38VSDf0M7ySIBN6ZDJI/CR3UumSqCJ/eykJ9EJwwIPig2idzZH0wKdAx9Jrk8Cn4snEWFCfSPKg++V0+g+GBBaC1m89YAzaYlD51Dc0kO8/9bS2TxiuQzx0bZis0/C/EOQZPyrfeQjh6Sm+OfPmt5ETzpT0sZC3dO5AgiEyVwHNS1b314+Yez2kkK54dQahSwPObCfmX6BuXmVMp70fAXRhd64PzpCzvqf7BVHu7DHw=='

# SMTP credentials
SMTP_USER="username"
SMTP_PASS="password"
