<html>

<head>
    <title>Noire Server</title>
</head>

<body>
    <h1>Noire Password Reset</h1>
    <p>
        Please reset your password by visiting this
        <a href="{{url}}">link</a>
    </p>
</body>

</html>
