<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- TODO: are there problems with including the crumb in all page headers? -->
    <meta name="crumb" content="{{crumb}}" value="{{crumb}}">

    <title>Noire Server {{version}}</title>

    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

    <!-- TODO: generate single css from build process... -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>

    {{{ content }}}

</body>

</html>
