<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hapi Starter {{version}}</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div class="wrap login">
        <div class="row column">
            <div class="medium-6 medium-centered large-4 large-centered columns">
                <form action="login" method="post">
                    <div class="row column" id="log-in-form">
                        <h4 class="text-center">Log in with you email account</h4>
                        <label>Email<input name="email" type="text" placeholder="somebody@example.com"></label>
                        <label>Password<input name="password" type="password" placeholder="Password"></label>
                        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
                        <p><input type="submit" class="button expanded" value="Log In"></p>
                        <p class="text-center"><a href="#">Forgot your password?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
