<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="crumb" content="{{crumb}}" value="{{crumb}}">
    <title>Noire Server {{version}}</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div class="wrap login">
        <div class="row column">
            <div class="medium-6 medium-centered large-4 large-centered columns">
                <form id="login-form" data-abide="ajax" novalidate>
                    <div class="row column" id="log-in-form">
                        <h4 class="text-center">Sign In</h4>
                        <label>Username
                            <input id="form-username" name="username" type="text" placeholder="somebody" required pattern="username">
                            <small class="form-error">A valid username is required</small>
                        </label>
                        <label>Password
                            <input id="form-password" name="password" type="password" placeholder="Password" required pattern="password">
                            <small class="form-error">Your password must match the requirements</small>
                        </label>
                        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
                        <button id="submit" class="button expanded" type="submit" value="Login" disabled>Login</button>
                        <p class="text-center"><a href="#">Forgot your password?</a></p>
                    </div>
                </form>
                <div id="form-error" data-abide-error class="alert callout" style="margin-top: 20px; display: none;">
                    <p><i class="fi-alert"></i>&nbsp;&nbsp;<span id="error-message"/></p>
                </div>
            </div>
        </div>
    </div>

    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
</body>

</html>
