<div class="ui vertical inverted footer segment">
    <div class="ui container">
        <footer class="ui inverted three column divided stackable grid">
            <div class="column">
                <h4 class="ui inverted header">Footer 1</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">Link 1</a>
                    <a class="item" href="#">Link 2</a>
                    <a class="item" href="#">Link 3</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui inverted header">Footer 2</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">Link 1</a>
                    <a class="item" href="#">Link 2</a>
                    <a class="item" href="#">Link 3</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui inverted header">Footer 3</h4>
                <div class="ui inverted link list">
                    <a class="item" href="#">Link 1</a>
                    <a class="item" href="#">Link 2</a>
                    <a class="item" href="#">Link 3</a>
                </div>
            </div>
        </footer>
    </div>
</div>
