<div class="ui stripe">
    <div class="ui three column stackable centered relaxed grid">
        <div class="admin card column">
            <div class="ui link card">
                <div class="image">
                    <img src="/img/users.png">
                </div>
                <div class="content">
                    <div class="header">Users</div>
                    <div class="description">Create, Modify and Delete Users</div>
                </div>
                <div class="extra content">
                    <span><i class="users icon"></i>75 Users</span>
                </div>
            </div>
        </div>
        <div class="admin card column">
            <div class="ui link card">
                <div class="image">
                    <img src="/img/roles.png">
                </div>
                <div class="content">
                    <div class="header">Roles</div>
                    <div class="description">Create, Modify and Delete Roles</div>
                </div>
                <div class="extra content">
                    <span><i class="users icon"></i>8 Roles</span>
                </div>
            </div>
        </div>
        <div class="admin card column">
            <div class="ui link card">
                <div class="image">
                    <img src="/img/security.png">
                </div>
                <div class="content">
                    <div class="header">Permissions</div>
                    <div class="description">Add or Revoke Permissions</div>
                </div>
                <div class="extra content">
                    <span><i class="users icon"></i>10 Permissions</span>
                </div>
            </div>
        </div>
    </div>
</div>
