/*
    Computer and Table Navigation
 */
.ui.menu {
    padding: 1em;
    margin: 0;
    border-radius: 0;
}

.ui.menu .right.item .ui.button {
  margin-left: 0.5em;
}

.ui.menu .right.item img {
  margin-left: 1em;
}

/*
    Mobile Navigation
 */
.sidebar.toggle {
    margin-left: 2em;
}
.ui.profile.avatar.image {
    margin-right: 2em;
}

/*
    Hero Section
 */
.hero h1.ui.header {
    font-size: 4em;
    font-weight: normal;
}

.hero h2.ui.header {
  font-size: 1.7em;
  font-weight: normal;
}

.hero {
    padding: 8em 0em;
    background-color: #999;
    background-image: url("../img/low_contrast_linen.png");
}

/*
    Main Content
*/
.ui.stripe {
    padding: 8em 8em;
}

.ui.stripe h3 {
  font-size: 2em;
}

.ui.stripe p {
  font-size: 1.33em;
}

/*
    Admin section
 */
.admin.card.column {
    max-width: 200px;
}


/*
    Footer
 */
.ui.footer {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5em 0em;
}
