/*
    Global
 */
.ui.breadcrumb a {
    color: grey;
}

/*
    Computer and Table Navigation
 */
.ui.menu {
    padding: 1em;
}

.ui.menu .right.item .ui.button {
  margin-left: 0.5em;
}

.ui.menu .right.item img {
  margin-left: 1em;
}

/*
    Mobile Navigation
 */
.sidebar.toggle {
    margin-left: 2em;
}
.ui.profile.avatar.image {
    margin-right: 2em;
}

.ui.login.mini.button {
    margin-right: 2em;
}

/*
    Hero Section
 */
.hero h1.ui.header {
    font-size: 4em;
    font-weight: normal;
}

.hero h2.ui.header {
  font-size: 1.7em;
  font-weight: normal;
}

.hero {
    padding: 8em 0em;
    background-color: #999;
    background-image: url("../img/low_contrast_linen.png");
}

/*
    Main Content
*/
.ui.main {
    padding: 8em 0em;
}

.ui.main h3 {
  font-size: 2em;
}

.ui.main p {
  font-size: 1.33em;
}

/*
    Admin section
 */
.admin.card.column {
    max-width: 200px;
}

/*
    Footer
 */
.ui.footer {
    margin-bottom: 0;
    padding: 5em 0;
}

/* https://github.com/Semantic-Org/Semantic-UI/issues/3801 */
/* remove shadows from segment ouline, basic segment? */
.ui.basic.vertical.segment,.ui.horizontal.basic.segments {
    background: none ;
    box-shadow: none;
    border: none;
    border-radius: 0;
}
