<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav }}
    <div class="ui container">
        {{> (getAdminPartial) }}
    </div>
    {{> footer }}
</div>

<script src="/js/admin.bundle.js" charset="utf-8"></script>
