<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav }}
    {{> (getAdminPartial) }}
    {{> footer }}
</div>

{{> scripts }}

<script src="js/login.js"></script>
