<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav}}
    {{> hero}}
    <div class="ui container">
        {{> main}}
    </div>
    {{> footer}}
</div>

{{> scripts }}

<script src="js/login.js"></script>
