<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav}}
    {{> hero}}
    <div class="ui container">
        {{> main}}
    </div>
    {{> footer}}
</div>

<script src="/js/home.bundle.js" charset="utf-8"></script>
