<div class="login">
    <div class="ui centered grid container">
        <div class="six wide computer eight wide tablet sixteen wide phone column">
            <div class="ui segment">
                <div class="content">
                    <div class="ui centered large header">Login Form</div>
                    <form class="ui large form" novalidate>
                        <div class="required field">
                            <div class="ui left icon input">
                                <input id="form-username" name="username" type="text" placeholder="username">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="required field">
                            <div class="ui left icon input">
                                <input id="form-password" name="password" type="password" placeholder="password">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input id="show-password" type="checkbox">
                                <label for="show-password">Show Password</label>
                            </div>
                        </div>
                        <div class="field">
                            <input type="submit" value="Login" class="ui submit button large fluid primary" disabled>
                        </div>
                        <div class="login-forgot">
                            <a href="#">Forgot your password?</a>
                        </div>
                        <div class="ui icon error message">
                            <i class="attention circle icon"></i>
                            <div class="content"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/login.js"></script>
