<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav}}

    <div class="ui container">
        <h1>User profile page</h1>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <p>roles:</p>
        <ul>
            {{#each user.roles}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    {{> footer}}
</div>

{{> scripts }}

<script src="js/profile.js"></script>
