<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav}}

    <div class="ui container">
        <form class="ui form">
            <h4 class="ui dividing header">Your profile</h4>
            <div class="two fields">
                <div class="field">
                    <label>username</label>
                    <input type="text" name="user[username]" value="{{user.username}}">
                </div>
                <div class="field">
                    <label>email</label>
                    <input type="text" name="user[email]" value="{{user.email}}">
                </div>
            </div>

            <h4 class="ui dividing header">Your roles</h4>

            {{#each user.roles}}
                <h1>{{this}}</h1>
            {{/each}}

        </form>
    </div>

    {{> footer}}
</div>

<script src="js/profile.js"></script>
