<div class="ui left vertical inverted menu thin sidebar">
    {{> mobile-nav}}
</div>

<div class="pusher">
    {{> nav}}

    {{> profile-update}}

    {{> footer }}
</div>

{{> scripts }}

<script src="js/profile.js"></script>
