<div class="ui main stackable three column grid">
    <div class="column">
        <div class="basic segment">
            <a class="ui centered link admin card" href="/admin/users">
                <div class="image">
                    <img src="/img/users.png" alt="users">
                </div>
                <div class="content">
                    <div class="header">Users</div>
                    <div class="description">Create, Modify and Delete Users</div>
                </div>
                <div class="extra content">
                    <span><i class="users icon"></i>{{count.users}} Users</span>
                </div>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="basic segment">
            <a class="ui centered link admin card" href="/admin/roles">
                <div class="image" href="/admin/roles">
                    <img src="/img/roles.png" alt="roles">
                </div>
                <div class="content">
                    <div class="header">Roles</div>
                    <div class="description">Create, Modify and Delete Roles</div>
                </div>
                <div class="extra content">
                    <span><i class="group icon"></i>{{count.roles}} Roles</span>
                </div>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="basic segment">
            <a class="ui centered link admin card" href="/admin/resources">
                <div class="image" href="/admin/resources">
                    <img src="/img/security.png" alt="resources">
                </div>
                <div class="content">
                    <div class="header">Permissions</div>
                    <div class="description">Add or Revoke Permissions</div>
                </div>
                <div class="extra content">
                    <span><i class="lock icon"></i>{{count.resources}} Resources</span>
                </div>
            </a>
        </div>
    </div>
</div>
