<html>

<head>
    <title>Noire Server</title>
</head>

<body>
    <h1>Noire User Signup</h1>
    <p>
        Please confirm your user details by visiting this&nbsp;
        <a href="{{url}}">link</a>
    </p>
</body>

</html>
